h2 {
    margin: 20px;
}
.container {
    position: absolute;
    top: 60px;
    bottom: 40px;
    left: 0;
    right: 0;
}

.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    // background: #c8ced1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.card-container {
    margin: 20px;
    padding: 20px;
}

.card-container mat-card {
    margin-bottom: 20px;
}

.user-content img {
    margin: 50px 50px 0px 50px; 
    width: 70%;
}

.user-content h1 {
    margin: 0px 50px 0px 50px; 
    width: 70%;
}

.side-nav-button {
    cursor: pointer;
}

.side-nav-button:hover {
    background-color:  #318aea;
}