<mat-toolbar class="header" yPosition="above" fxFlex="100">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-button (click)="sidenav.toggle()">Sidenav</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex='100'>
    <button mat-button [matMenuTriggerFor]="menu">
      Menu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Light</button>
      <button mat-menu-item>Dark</button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <!-- <p>test</p> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <div fxLayout="row wrap" fxLayoutGap="20px" class="card-container">
      <mat-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="45" fxFlex.lg="22" fxFlex.xl="22">Simple card</mat-card>
      <mat-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="45" fxFlex.lg="22" fxFlex.xl="22">Simple card</mat-card>
      <mat-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="45" fxFlex.lg="22" fxFlex.xl="22">Simple card</mat-card>
      <mat-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="45" fxFlex.lg="22" fxFlex.xl="22">Simple card</mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>