<div [class]="theme">
  <mat-toolbar class="header" yPosition="above" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-button (click)="sidenav.toggle()">Sidenav</button>
      <div class="card-container" fxLayoutGap="20px">
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex='100'>
      <button mat-button [matMenuTriggerFor]="menu">
        Theme
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="changeTheme('first-theme')" mat-menu-item>Light</button>
        <button (click)="changeTheme('second-theme')" mat-menu-item>Dark</button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav" fxHide fxShow.gt-md>
      <div class="user-content">
        <img src="./../assets/user.png">
        <h1>Jon Doe Smith</h1>
      </div>
      <mat-toolbar color="primary" class="side-nav-button" (click)="changeRoute('dashboard')">
        <span>Dashboard</span>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <mat-toolbar color="primary" class="side-nav-button" (click)="changeRoute('heroes')">
        <span>Heroes</span>
      </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content>
      <h2>Simple Cards</h2>

      <mat-divider></mat-divider>
      <router-outlet></router-outlet>
      <app-messages></app-messages>
      <!-- <div fxLayout="row wrap" fxLayoutGap="20px" class="card-container">
        <mat-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="45" fxFlex.lg="22" fxFlex.xl="22">Simple
          card</mat-card>
        <mat-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="45" fxFlex.lg="22" fxFlex.xl="22">Simple
          card</mat-card>
        <mat-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="45" fxFlex.lg="22" fxFlex.xl="22">Simple card</mat-card>
        <mat-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="45" fxFlex.lg="22" fxFlex.xl="22">Simple card</mat-card>
      </div> -->

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>